    /* ------------ General ----*/
    
    body {
        background-color: #191B23;
    }
    
    .gen-margins {
        margin-bottom: 25px;
    }

    .subheading {
        color: #fbfbfb;
        text-decoration: underline;
    }

    .subtitle {
        color: #fbfbfb;
    }

    /* ------- hero section ------ */
    .lottie-bg {
        position: fixed;
        opacity: 0.8;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: -1
    }

    .lottie-animation {
        width: 100vw;
        height: 100vh;
    }

    .hero-section {
        z-index: 1;
        margin-top: 120px;
    }

    .hero-section .background {
        background-color: rgba(25, 27, 35, 0.5);
    }
    
    .hero-section span {
        font-size: 55px;
        min-height: 100px;
        margin: 0;
        background: linear-gradient(#FFC306, #FF9901);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero-section p {
        color: #fbfbfb;
        padding-left: 10%;
        padding-right: 10%;
    }

    .hero-buttons {
        border: 2px solid #fbfbfb;
        color: #fbfbfb;
        min-width: 134px;
    }

    .hero-buttons:hover {
        border: none;
        background-color: #FFC306;
        color: #191B23;
    }

/* ----------------------------- Blog Preview -------*/

.blog-card {
    border-radius: 2%;
    height: 525px;
    background-color: #191B23;
    color: #fbfbfb;
    box-shadow: 0px 0px 8px 4px rgba(251, 251, 251, 0.2)
}

.author-info p {
    margin: 0;
}

.author-photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 25px;
}

.blog-post-preview {
    margin: 12px;
}

.read-more-btn {
    background-color: #FF9901;
    color: #191B23;
}

.read-more-btn:hover {
    background-color: #FFC306;
    color: #191B23;
}