    /* ------------ General ----*/
    
    body {
        background-color: #191B23;
        font-family: 'Work Sans', sans-serif
    }
    
    .gen-margins {
        margin-bottom: 25px;
    }

    .subheading {
        color: #fbfbfb;
        text-decoration: underline;
    }

    .subtitle, .gen-text {
        color: #fbfbfb;
    }

    .home-page-btn {
        border: 2px solid #fbfbfb;
        background-color: #191B23;
        color: #fbfbfb;
        width: 150px;
    }

    .home-page-btn:hover {
        border: none;
        background-color: #FFC306;
        color: #191B23;
    }

    /*------------header---------*/

    .list-inline a i {
        color: #FFC306;
        font-size: 18px;
    }

    .list-inline a i:hover {
        color: #FF9901;
        font-size: 20px;
        
    }

    .navbar .nav-link {
        color: #FFC306;
        font-size: 18px;
    }

    .navbar .nav-link:hover {
        text-decoration: 2px solid underline #FFC306;
    }

    .navbar .active {
        text-decoration: 2px solid underline #FFC306;
    }


    /* ------- lottie animation ------ */
    .lottie-bg {
        position: fixed;
        opacity: 0.8;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: -1
    }

    .lottie-animation {
        width: 100vw;
        height: 100vh;
    }

    /* ------- hero section ------ */

    .hero-section {
        z-index: 1;
        margin-top: 120px;
    }

    .hero-section .background {
        background-color: rgba(25, 27, 35, 0.5);
    }
    
    .hero-section span {
        font-size: 55px;
        min-height: 100px;
        margin: 0;
        background: linear-gradient(#FFC306, #FF9901);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero-section p {
        color: #fbfbfb;
        padding-left: 10%;
        padding-right: 10%;
    }


/* ----------------------------- Blog Preview -------*/

.blog-card {
    border-radius: 2%;
    height: 500px;
    background-color: #191B23;
    color: #fbfbfb;
    box-shadow: 0px 0px 8px 4px rgba(251, 251, 251, 0.2)
}

.blog-card:hover {
    box-shadow: 0px 0px 8px 4px rgba(251, 251, 251, 0.5)
}

.author-info p {
    margin: 0;
}

.author-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 25px;
}

.blog-post-preview {
    margin: 12px;
    font-size: 14px;
}

.read-more-btn {
    background-color: #FF9901;
    color: #191B23;
}

.read-more-btn:hover {
    background-color: #FFC306;
    color: #191B23;
}

@media screen and (max-width: 768px) {
    .blog-card {
            height: auto;
            margin-bottom: 25px;
        }
    .author-photo {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 992px) {
    .blog-card {
        height: auto;
        min-height: 415px;
        margin-bottom: 25px;
    }

    .author-photo {
        width: 80px;
        height: 80px;
    }
}

/*------------------------ Meet the Team preview -------*/

.meet-the-team {
    background-color: #191B23;
    box-shadow: 1px 0px 30px 30px rgba(255, 195, 6, 0.2);
    background-image: url("../images/team/meet-the-team.webp");
    max-width: 1900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 0;
    padding-bottom: 60%;
}

.meet-the-team-text-margin {
    margin-top: 1.5rem;
    
}

.meet-the-team .gen-text, .meet-the-team h3 {
    color:#191B23;
    font-weight: 600;
}

.meet-the-team span {
    background-color: rgba(251, 251, 251, 0.4);
}

.meet-the-team p {
    max-width: 67%;
    margin: 0 auto;
}

.meet-the-team .home-page-btn:hover {
    background-color: #2799F0;
}


@media screen and (max-width: 767px) {
    .meet-the-team {
        background-image: none;
        background: rgb(255, 195, 6);
        background: linear-gradient(0deg, rgba(255, 195, 6, 1) 15%, rgba(25, 27, 35, 1) 100%);
        height: auto;
        padding-bottom: 0;
    }

    .meet-the-team {
        background-color: #191B23;
        box-shadow: none;
    }

    .meet-the-team-text-margin {
        margin-top: 75px;
    }

    .meet-the-team span {
        background: none;
    }
}

/*---------------------- Careers ------------------*/

.careers-box {
    margin-top: 75px;
    background: rgba(39, 153, 240, 0.8);
    color: #191B23;
    max-width: 60%;
    min-height: 300px;
    height: auto;
}

.careers-box .home-page-btn {
    background-color: transparent;
    color: #191B23;
    border-color: #191B23;
}

.careers-box .home-page-btn:hover {
    background-color: #FFC306;
    color: #191B23;
    border-color: #191B23;
}

@media screen and (max-width: 767px) {
    .careers-box {
        max-width: 100%;
    }

}

/*------------ footer ----------*/

.bg-color-footer {
    background-color: #191B23;
}